<h1><%= @category.title %></h1>

<ul>
  <% @category.items.each do |item| %>
      <li><%= item.title %> | <%= to_format(item.price)%> | <%= button_to 'Add to Cart', line_items_path(item_id: item) %></p>
  <% end %>
</ul>
